<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dm2e.adriancaballero.laberinto">

    <uses-permission android:name="android.permission.VIBRATE" /><!-- Permiso de vibracion -->
    <uses-permission android:name="android.permission.INTERNET" /><!-- Permiso de internet -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /><!-- Permiso de desbloqueo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!-- Permiso de leer la tarjeta SD -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".MainActivity" android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name=".MazePlayerTextActivity" android:configChanges="orientation|screenSize|keyboardHidden">

        </activity>

        <activity android:name=".MazePlayerDrawActivity" android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>
